/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* yeseva-one-regular - latin */
@font-face {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/yeseva-one-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/yeseva-one-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* nunito-sans-regular - latin */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/nunito-sans-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/nunito-sans-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/*header style start*/

html{
    box-sizing: border-box;
}   
  
*, *::before, *::after{
    box-sizing: inherit;
}

 body{
    font-family: 'Nunito Sans' ;
    font-style: italic;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: rgb(0, 0, 0);
} 

.header{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
@media screen and (max-width: 768px){
.header{
    position:static;
    }
}

.wrapper{
    max-width: 1256px;
    margin: 0 auto;
}
@media screen and (max-width: 768px){
    .wrapper{
        width: 339px;
        margin: 0 auto;
    }
}

.header_wrapper{
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

@media screen and (max-width: 768px){
    .header_wrapper{
        display: flex;
        justify-content: space-between;
    }
}

.header_list{
    display: flex;
    flex-wrap : wrap;
    
}

.header_iteam{
    margin-right: 47px;  
}
@media screen and (max-width: 768px){
    .header_iteam{
        margin: 0;
    }
}


.logo{
    display: flex;
    justify-content: flex-start;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
    margin-right: 95px;
}
@media screen and (max-width: 768px){
    .logo{
        margin: 0;
    }
}

@media screen and (max-width: 768px){
    .button, .header_link, .header_link_home{
        display:none;
    }
}

.button{
    max-width: 207px;
    max-height: 51px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0px;
    color: white;
    text-align: center;
    padding: 13px 33px;
    text-transform: uppercase;
    font-style: italic;
    font-size: 11px;
    }

.header_link{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.header_link_home{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #E3B873;
    text-decoration: none;
}

.header_link_phone{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
    margin-left: 67px;
}

@media screen and (max-width: 768px){
    .header_link_phone{
        color: #FFFFFF;
        text-decoration-line:none;
        font-family: 'Nunito Sans';
        text-align: right;
        margin: 0;

    }
}

.header_link:hover, .header_link_home:hover, .header_link_phone:hover,
.header_link:focus, .header_link_home:focus, .header_link_phone:focus,
.header_link:active, .header_link_home:active, .header_link_phone:active,
.button:hover,.button:focus,.button:active,.button_intro_COST:active,
.button_intro_COST:hover,.button_intro_COST:focus,.button_intro_APPLICATION:focus
.button_intro_APPLICATION:active,.button_intro_APPLICATION:hover,
.button_black_button:hover,.button_black_button:active,.button_black_button:focus,
.search_form_submit:hover,.search_form_submit:active,.search_form_submit:focus,
.button_form_info:hover,.button_form_info:active,.button_form_info:focus{
    opacity: .75;
}
/*headere style and*/

/*intro style start*/

.intro{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(../images/turnkey2.svg);
    background-image: no-repeat center;
    background-size: cover;
    height: 707px;
    padding-top: 194px;  
}
@media screen and (max-width: 768px){
    .intro{
        height: 476px;
        padding-top: 85px;
    }
}

.intro_wrapper_title{
    margin-left: 42px;
}

@media screen and (max-width: 768px){
    .intro_wrapper_title{
        margin: 0;
}
}

.intro_title{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 676px;
    max-height: 105px;
    margin-bottom: 19px;
}

@media screen and (max-width: 768px){
    .intro_title{            
        font-size: 23px;
        line-height: 31px;        
    }
}

.rostov{
    color: #E3B873;
}

.sub_title{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    max-width: 510px;
    max-height: 89px;
    margin-bottom: 41px;
}

@media screen and (max-width: 768px){
    .sub_title{
        font-size: 14px;
        line-height: 19px; 
        max-width: 319px;
        max-height: 94px;       
        
    }
}

.intro_buttons{
    display: inline-block;
    text-align: center;
}

@media screen and (max-width: 768px){
    .itro_buttons{
        display: block;
    }
}


.button1{
    display: inline-block;
}

@media screen and (max-width: 768px){
    .button1{
        display: block;
        justify-content: center;
    }
}


.button2{
    display: inline-block;
    margin-left: 20px;
}

@media screen and (max-width: 768px){
    .button2{
        display: block;
        margin: 0;
        margin-top: 26px;
    }
}


.button_intro_COST{
    width: 207px;
    height: 51px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    line-height: 15px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0px;
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 11px;
}

@media screen and (max-width: 768px){
    .button_intro_COST{
        width: 338px;
        height: 51px;
        text-align: center;
    }
}


.button_intro_APPLICATION{
    width: 207px;
    height: 51px;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    background:transparent;
}

@media screen and (max-width: 768px){
    .button_intro_APPLICATION{
        width: 338px;
        height: 51px;
        text-align: center;
    }
}

/*intro style end*/

/*completed style start*/

.completed{
    background-color: #000;
    background-size: cover;
    height: 1074px;
}

@media screen and (max-width: 768px){
    .completed{
        height: 740px;
    }
}

.contener{
    background-color: #000;    
    
}

/*grid style left*/

.grid-wrapper {
    display: grid;
    grid-template-columns:480px 679px;
    grid-gap: 50px;
}
@media screen and (max-width: 768px){
    .grid-wrapper{
        max-width: 375px ;
        grid-template-columns:none;
    }
}
.complect_project{
    margin-left: 42px;
    margin-top: 190px; 
}

@media screen and (max-width: 768px){
    .complect_project{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 339px;
        text-align: center;
        margin: 0;
        margin-top: 36px; 
    }
}

.complect_project_title{
    max-width: 253px;
    max-height: 66px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 34px;  
}

@media screen and (max-width: 768px){
    .complect_project_title{
        font-size: 23px;
        line-height: 30px;
        text-align: center;
    }
}

.complect_Only_title{
    max-width: 442px;
    max-height: 86px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 42px;
}

@media screen and (max-width: 768px){
    .complect_Only_title{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 311px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 17px;
        text-align: center;
        margin-bottom: 36px;
    }
}
.mobile_room{
    display: none;
}

@media screen and (max-width: 768px){
    .mobile_room{
        display: flex;
        text-align: center;
        margin-bottom: 36px;
        background-image: url(../images/mob_room.svg);
        height: 241px;
    }

}

@media screen and (max-width: 768px){
    .mobile_button_1{
        position: relative;
        margin-top: 120px;
        margin-right: 238px;
        background-color: inherit;
        border: 0
    }
}
@media screen and (max-width: 768px){
    .mobile_button_2{
        background-color: inherit;
        border: 0
    }
}

.complect_project_dl{
    display: grid;
    grid-template-columns: repeat(2, 190px);
    row-gap: 34px;
    margin-left: 42px;
}

@media screen and (max-width: 768px){
    .complect_project_dl{
        grid-template-columns: repeat(2, 150px);
        row-gap: 24px;
        margin: 0px;
    }
}

.complect_project_dt{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}
@media screen and (max-width: 768px){
    .complect_project_dt{
        font-size: 14px;
        line-height: 19px;
    }
}
.complect_project_dd{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
@media screen and (max-width: 768px){
    .complect_project_dd{
        font-size: 11px;
        line-height: 15px;
    }
}

@media screen and (max-width: 768px){
    .flat{
        display: none;
    }
}
    

.online{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.arrows{
    display: flex;
    align-items: flex-end;
    margin-left: 42px;
    margin-top: 79px;
    
}
@media screen and (max-width: 768px){
    .arrows{
        display: none;
    }
}

.button_left_arrows{
border-style: none;
background:transparent;
margin-right: 19px;
}

.button_left_arrows_low{
    background:transparent;
    margin-right: 7px;   
}

.button_left_arrows_low3{
    background:transparent;
}

.button_right_arrows{
    border-style: none;
    background:transparent;
    margin-left: 19px;
}

/*grid style right*/

@media screen and (max-width: 768px){
    .grid-item_right {
        display: none;
    }
}

.button_right{
    display: block;
    justify-content: space-between;
    max-width: 630px;
    margin-top: 107px;
    margin-bottom: 45px ;
}

.button_right_title_Rostov{
    border-style: none;
    border-bottom: 2px solid #E3B873;
    background:transparent;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;  
    padding: 0;
    margin-right: 60px;   
}

.button_right_title_sochi{
    background:transparent;
    border-style: none;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    padding: 0;
    margin-right: 60px;
}

.button_right_title{
    background:transparent;
    border-style: none;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    padding: 0;
}

.images_pikcher{
    background-image: url(../images/stripe.png);
    width: 32px;
    height: 1.5px;
}

.camera{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 79px;
}

@media screen and (max-width: 768px){
    .camera{
        font-size: 22px;
        line-height: 30px; 
        margin-top: 58px;  
    }
}

.online_controle{
    margin-bottom: 13px;
}
@media screen and (max-width: 768px){
    .online_controle{
        margin-bottom: 19px;
    }
}
/*completed style end*/

/*video sryle start*/

@media screen and (max-width: 768px){
    .video{
        background-color: #000;
    }
}

.video_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.oracle_centre_fon{
    width: 817px;
    height: 434px;
    background-size: cover;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(../images/video.svg);
    margin-top: -164px;
    margin-bottom: 61px;
}

@media screen and (max-width: 768px){
    .oracle_centre_fon{
        width: 340px;
        height: 207px;
        background-size: cover;
        position: relative;
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(../images/video.svg);
        margin: 0;
        margin-top: 0;
        margin-bottom: 28px;
    }
}


.img_oracle{
    position: relative;
    margin-top: 174px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px){
    .img_oracle{
        display: flex;
        justify-content: center;
        margin: 0;
        margin-top: 60px;
        
        }
}
.play_mob{
    display: none;
}

@media screen and (max-width: 768px){
    .play_mob{
        display: flex;
    }
}

@media screen and (max-width: 768px){
    .play_port{
        display: none;
        }
}
/*video sryle end*/

/*line sryle start*/

.line{
    position: relative;
    margin-left: 618px;
    margin-bottom: 34px;
}

@media screen and (max-width: 768px){
    .line{
        margin: 0;
        text-align: center;
        margin-bottom: 21px;
    }
}

.lined{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    max-width: 652px;   
    max-height: 131px;
    margin-left: 305px;
    margin-bottom: 91px;
}

@media screen and (max-width: 768px){
    .lined{
        font-size: 11px;
        line-height: 19px;
        color: #FFFFFF;
        max-width: 340px;   
        max-height: 106px;
        margin-left: 0px;
        margin-bottom: 61px;
    }
}

/*line sryle end*/

/*form sryle start*/

.form_group{
    display: flex;
    justify-content: center;  
    align-items: center;
    margin: 0 auto;
    width: 770PX;
    height: 51PX;
    margin-bottom: 32px;
}
@media screen and (max-width: 768px){
    .form_group{
        display: inline;
        
    }
}

@media screen and (max-width: 768px){
    .search_form_wrap{
        width: 340PX;
        height: 311px;
        margin: auto;
    }
}

.search_inputname{
    display: flex;
    flex-direction: column;
    width: 0.5px; ;
    height: 50px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5)
}
@media screen and (max-width: 768px){
    .search_inputname{
        color: rgba(255, 255, 255, 0.5);
        height: 15px;
    }
}

.search_inputname_control{
    background-color: transparent;
    border: 0px ;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    margin-right: 60px;
}
@media screen and (max-width: 768px){
    .search_inputname_control{
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        font-size: 170%;
        margin: 0;
        margin-bottom: 63px;

    }
}

@media screen and (max-width: 768px){
    .search_inputname_control::placeholder{
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
    }
}

.search_inputphone_control{
    background-color: transparent;
    border: 0px ;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    margin-right: 49px;
}

@media screen and (max-width: 768px){
    .search_inputphone_control{
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        font-size: 170%;
        margin: 0;
        margin-bottom: 26px;
    }
}

@media screen and (max-width: 768px){
    .search_inputphone_control::placeholder{
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
    }
}

.search_form_submit{
    width: 200px;
    height: 51px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0px;
    color: white;
    text-align: center;
    padding: 11px 31px;
    font-size: 13px;
}
@media screen and (max-width: 768px){
    .search_form_submit{
        display: none;
    }
}

.search_form_submit_tel{
    display: none;
}

@media screen and (max-width: 768px){
    .search_form_submit_tel{
        display: block;
        width: 340px;
        height: 51px;
        background: #E3B873;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        border-radius: 2px;
        border: 0px;
        color: white;
        text-align: center;
        padding: 11px 31px;
        font-size: 13px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 27px;
        text-align: center;
        text-transform: uppercase;    
    }
}

.parent{
    text-align: center;
}

@media screen and (max-width: 768px){
    .parent{
        text-align:start;
    }
}

.chek_form{
    display: inline;
   
}

.form_info{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #181818;
}
 
@media screen and (max-width: 768px){
    .form_info{
        color: #FFFFFF;
    }
}

/*form sryle end*/

/*tools sryle srart*/
.repeat_tapes_text{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px){
    .repeat_tapes_text{
        margin-top: 77px;
    }
}

.tapes_text_info{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #181818;
    margin-bottom: 13px;
}

@media screen and (max-width: 768px){
    .tapes_text_info{
    font-size: 22px;
    line-height: 30px;
    }
}

.tools{
    background-image: url(../images/tolls.svg);
    width: 114px;
    height: 28px;
    background-image: no-repeat center;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 31px;
}
/*tools sryle end*/

/*card 1 sryle srart*/
.cars_a{
    height: 700px;
}

@media screen and (max-width: 768px){
    .cars_a{
        height: 1568px;
    }
}

.card_wrapper{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px){
    .card_wrapper{
        display: flex;
        flex-wrap: wrap;
        max-width: 2030px;
        justify-content: center;
    }
}

.redecorating1{
    background-image: url(../images/redecorat1.svg);
    width: 392px;
    height: 421px;
}

@media screen and (max-width: 768px){
    .redecorating1{
        background-image: url(../images/redecorating_mob.svg);
    width: 340px;
    height: 365px;
    }
}

.redecorating2{
    background-image: url(../images/overhaul.svg);
    width: 392px;
    height: 421px;
}

@media screen and (max-width: 768px){
    .redecorating2{
        background-image: url(../images/overhaul_mob.svg);
    width: 340px;
    height: 365px;
    }
}

.redecorating3{
    background-image: url(../images/designer.svg);
    width: 392px;
    height: 421px;
}

@media screen and (max-width: 768px){
    .redecorating3{
        background-image: url(../images/designer_mob.svg);
    width: 340px;
    height: 365px;
    }
}

@media screen and (max-width: 768px){
    .redecorating1, .redecorating2, .redecorating3{
        margin-bottom: 210px;
    }
}

.card_wrapper_list{
    display: flex;
    flex-wrap: wrap;    
}

@media screen and (max-width: 768px){
    .card_wrapper_list{
    display: flex;
    flex-wrap: wrap;
    }
}

.card_list{
    width: 330px;
    height: 286px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    margin-left: 31px;
    margin-top: 300px;   
}

@media screen and (max-width: 768px){
    .card_list{
        width: 270px;
        height: 241px;
        background: #FFFFFF;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03); 
        margin-left: 0px;
        margin-top: 256px;
    }
}

.redecor{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin-left: 34px;
    margin-top: 25px;
}
@media screen and (max-width: 768px){
    .redecor{
        font-size: 15px;
        line-height: 21px;
    }
}


.redecor_card_list{
    width: 267px;
    height: 178px;
}

.redecor_list{
    margin-left: 34px;
    margin-top: 13px;
}

.redecor_list_iteam{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

@media screen and (max-width: 768px){
    .redecor_list_iteam{       
        line-height: 22px;
    }
}


.redecor_list_iteam::before{
    content: "•";
}

/*button cards sryle srart*/
.fromd1{
    margin-top: 20px;
}
.button_form_info{
    width: 228px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0;
}
@media screen and (max-width: 768px){
    .fromd1{       
        margin-top: -30px;
    }
}

/*button cards sryle end*/

/*house sryle start*/


.house{
    height: 726px;
    background: transparent url(../images/house.svg) no-repeat;
    z-index: -1;
    
}

@media screen and (max-width: 768px){
    .house{
        display: none;
    }
}

.forma_wrapper{
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.list_number_text{
    display: flex;
    width: 410px;
    height: 473px;
    margin-top: 105px;
    margin-left: 119px;
}

.qwert{
    margin-bottom: 102px;
}

.list_item_number{
    background: #E3B873;
    border: 8px solid #FFFFFF;
    border-radius: 50px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
    margin-right: 21px; 
}

.list_item-text{
    display:inline-block;
    width: 316px;
    height: 36px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    
}

.forma_wrapper_right{
    width: 506px;
    height: 509px;
    background-color: #000;
    margin-top: 95px;
    margin-bottom: 38px;
    
}

.top_text_black{
    display: flex;
    justify-content: center;
}

.top_text_black_top{
    width: 297px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 24px;
}

.form_feedback{
    width: 408px;
    height: 244px;
    margin-top: 39px;
    margin-left: 49px;
    margin-bottom: 16px;
}

@media screen and (max-width: 768px){
    .form_feedback{
        margin: 0px;
        width: 340px;
        height: 45px;
        margin-bottom: 63px;
    }
}

.inputname_control_black{
    border-bottom: 3px solid rgba(255, 255, 255, 0.15);
    margin-bottom: 48px;
}

@media screen and (max-width: 768px){
    .inputname_control_black{
        margin: 0px;
        margin-bottom: 63px;
    }
}

.search_inputname_black{
    font-style: normal;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.inputname_control_and{
    border-bottom: 3px solid rgba(255, 255, 255, 0.15);
    
}

.search_inputquves_control_black{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    background-color: transparent;
    border: none;
    color: white;
}

.search_inputquves_control_black::placeholder {
    color: #ffffff;
}

.parent_black{
    text-align: start;
}

@media screen and (max-width: 768px){
    .parent_black{
        margin-top: 22px;
    }
}

.parent_black_ch{
       display:inline;
    margin-left: 49px;
}

@media screen and (max-width: 768px){
    .parent_black_ch{
        margin: 0;
    }
}

.bird_info{
    border-radius: 1px;
    margin-right: 8px;
    margin-bottom: 39px;
    size: 18px;
}

@media screen and (max-width: 768px){
    .data_bird{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    margin-left: 18px;
    }
}

@media screen and (max-width: 768px){
    .bird_info{
        margin-bottom: 82px;
    }
}

.form_black{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.button_black{
    display: flex;
    justify-content: right;
    height: 51px;
    margin-bottom: 65px;
    margin-right: 49px;
}

.button_black_button{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}

.pig_pig{
    display: flex;
    width: 322px;
    align-items: center;
}

.pig_text{
    display: inline;
    margin-left: auto;
    margin-right: auto
}

.pig_text{
    display: contents;
    width: 225px;
    height: 47px;
}
.pig_text_sp{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

/*house sryle end*/
.realize_fantasies{
    display: none;
}

@media screen and (max-width: 768px){
    .realize_fantasies{
        display: flex;
    }
}

@media screen and (max-width: 768px){
    .realiz{
        display: flex;
        flex-wrap: wrap;
        width: 344px;
        height: 400px;
    }
}

@media screen and (max-width: 768px){
    .fant_realiz{
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #E3B873;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 768px){
    .oclok{
        display: flex;
        justify-content: center;
        background-image: url(../images/oclok.jpg);
        width: 340px;
        height: 242px;
    }
}


/*fantasies sryle start*/

.fantasies{
    max-height: 1440px;
    margin-top: 242px;
}
@media screen and (max-width: 768px){
    .fantasies{
        display: none;
    }
}

.fantasies_wrap{
    display: flex;
    justify-content: space-between;
}

.fantasies_fon{
    height: 864px;
    background-image: url(../images/fantasies.svg);
    background-size: cover;
    margin: 0 auto;
}

.fant_realiz{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    padding-top: 137px;
    padding-bottom: 23px;
}

.fant_list_iteam_href{
    padding-bottom: 25px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #E3B873;
}   

.fant_list_iteam{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 17px;
}

.fantasies_gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 39px;
}

.gallery__item{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;


}
.gallery__item-1{
    width: 353px;
    height: 536px;
    margin-top: -39px;
       
}

.gallery__item-2{
    width: 354px;
    height: 275px;
    margin-top: -110px;
  
}

.gallery__item-3{
    width: 353px;
    height: 349px;  
    margin-top: 15px;
}

.gallery__item-4{
    width: 353px;
    height: 625px;
    margin-top: -325px;
}

/*fantasies sryle end*/

/*clients sryle start*/

@media screen and (max-width: 768px){
    .client{
        display: none;
    }
}

.card_client{
    height: 642px;    
    justify-content: center;
}

.our_client_title{
    margin-top: 69px;
}

.our_client_title_cent{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin-bottom: 13px;
}

.heands{
    background-image: url(../images/hand.svg);
    width: 114px;
    height: 27px;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 24px;
}
    
.friends{
    width: 397px;
    height: 57px;
    margin: 0 auto;
}   

.friends_title{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;    
}

.cards_list_iteam{
    display: flex;
    justify-content: space-between;
    height: 455px;
    margin-top: 39px;
}

.cards_list{
    display: inline;
    width: 376px;
    height: 455px;
    background: #ffffff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}


.cards_list_foto{
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 26px;
}

.cards_title{
    display: inline-flex;
    width: 178px;
    height: 42px;
    
    
}
.cards_title_name{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}

.titli_post_card{
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    width: 324px;
    height: 216px;
}

.titli_post{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    color: #959595;    
}

.button_foto_info{
    background-color: inherit;
    border: 0;
    width: 293px;
    height: 54px ;
}

.button_foto{
    margin-left: -21px;
    margin-top: 70px;
}

.scaleX {
    transform: scaleX(-1); /* Отражение картинки по горизонтали */
}

.clients_fon{
    height: 252px;
    margin-top: 50px;
    display: flex;
    background-image: linear-gradient(rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 0.93)),url(../images/citi4.png);

}
/*clients sryle end*/

/*questions sryle start*/

.questions_form{
    display: flex;
    margin: 0 auto;
    width: 886px;
    height: 445px;
    background-color: #000;
    z-index: 2;
    margin-top: -222px;
    
}

.questions_form_centre{
    width: 510px;
    height: 376px;
    margin: 34px auto;
    background-color: rgb(0, 0, 0);
   
}

.questions_form_black_top{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.questions_name{
    display: flex;
    justify-content: space-between;
    width: 231px;
    height: 45px;
}

@media screen and (max-width: 768px){
    .questions_name{
        display: block;        
    }
}


.questions_name_black{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}


.search_questions_name{
    background: inherit;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    margin-right: 58px;  
    border: 0px;
}

.search_questions_name::placeholder {
    color: #ffffff;
}


.inputquestions_name{
    margin-right: 60px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.15);
    border-right: 0px;
    
}

.questions_questions{
    display: flex;
    justify-content: space-between;
    width: 516px;
    height: 45px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.15);
    border-right: 0px;
    margin-top: 48px;
    margin-bottom: 53px;
}

.form_info_end{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 43px;
    margin-bottom: 43px;
}

.buttom_submit_black{
   display: flex;
   justify-content: center;
   margin-bottom: 93px;
}

.submit_black{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 200px;
    height: 51px;
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);  
    
}
.shoping{
    width: 599px;
    height: 148px;
    margin: 0 auto;
    margin-top: 61px;
}
@media screen and (max-width: 768px){
    .shoping{
        display: none;        
    }
}

.shopink_black{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 26px;
}
.mail_insta{
    width: 589px;
    display:inline-flex;
    justify-content: center;
}
.mail_black{
    margin-right: 15px;
    
}

.map_black{
    display: flex;
    justify-content: center;
    margin: 0 auto ;
}

.map_black_grey{
    width: 950px;
    height: 465px;
    background-image: url(../images/map.svg);
}

@media screen and (max-width: 768px){
    .map_black_grey{
        display: none;        
    }
}

/*questions sryle end*/

/*tower sryle start*/

.tower{
    display: flex;
    justify-content: center;
    margin-top: 107px;
    height: 844px;
    background-color: #000;
}

@media screen and (max-width: 768px){
    .tower{
        display: none;        
    }
}

.tower_fon{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../images/citi.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -107px;
       
}

@media screen and (max-width: 768px){
        .tower_fon{
            display: none;        
        }
    }

/*tower sryle end*/

.footer{
    background-color: black;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
}
@media screen and (max-width: 768px){
    .footer{
        display: none;        
    }
}

.wrapper{
    max-width: 1256px;
    margin: 0 auto;
}

.footer_wrapper{
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.questionss{
    display: none;
}

@media screen and (max-width: 768px){
    .questionss{
        display: flex;
        height: 1200px;
        background-color: black;        
    }
}


@media screen and (max-width: 768px){
    .questions_form{
        display: flex;
        margin: 0 auto;
        max-width: 375px;
        background-color: #000;
    }         
}
@media screen and (max-width: 768px){
        .mob_but_clock{
            background-image: url(../images/clock_mob.svg);
            width: 340px;
            height: 240px;
            margin-top: -140px;
        }
    }

@media screen and (max-width: 768px){
    .forma_wrapper_right{
        max-width: 339px;
        background-color: #000;
        margin: 0;
        margin-top: 52px;
    }         
}

@media screen and (max-width: 768px){
    .top_text_black_top{
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 768px){
    .button_black_butt{
        margin: 0;
        width: 340px;
        height: 51px;
        background: #E3B873;
        box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.1);
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 27px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 60px;
        margin-bottom: 46px;
    }
}

@media screen and (max-width: 768px){
    .map_black_mob{
        background-image: url(../images/map.svg);
        width: 340px;
        height: 255px;
    }
}

@media screen and (max-width: 768px){
    .rostov_mob{
        width: 340px;
        height: 144px;
    }
}

@media screen and (max-width: 768px){
    .rostov_black_mob{
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        color: #E3B873;
        margin-top: 41px;
        margin-bottom: 23px;
    }
}

@media screen and (max-width: 768px){
    .mob_mail{
        background-color: inherit;
        border: inherit;
    }
}

@media screen and (max-width: 768px){
    .mail_insta_mob{
        display: flex;
        justify-content: center;
    }
}
