body{
    margin: 0;
    font-family: Nunito Sans, Arial, Helvetica, sans-serif;
}

.content{
    max-width: 1256px;
    height: 37px;
    margin: 0 auto;
}
.button{
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0px;
    color: white;
    padding: 13px 33px;
    text-transform: uppercase;
    font-style: italic;

}

.header{
    background-color: black;
}

.header-content{
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header-logo{
    font-family: Nunito Sans, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color:#E3B873;
    
}

.menu{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}
.navigation{
    list-style: none;
    display: flex;
    
}

.navigation-iteam{
    margin-right: 47px;
}

.navigation-iteam a{
    color: white;
    text-decoration: none;
}

.navigation-iteam_tel a, .navigation-iteam_home a{
    color:#E3B873;
    text-decoration: none;
    margin-right: 47px;
}

.Turnkey{
    background-image: url("../images/image1.jpg");
    background-size: cover;
    height: 707px;
    position: relative;
    padding-top: 194px;
}

.tuman{
    content: "";
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    
}

.Turnkey-contener{
    position: relative;
    z-index: 1;
}

.text{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

